.App {
  /* background-image: linear-gradient(-135deg, rgb(41, 41, 41), rgb(133, 124, 126), rgb(139, 139, 139)); */
  background-color: rgb(80, 79, 79);
  height: max-content;
  min-height: 100vh;
}

.homepage-div {
  position: relative;
}

.homepage-div img {
  width: 100%;
  position: absolute;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inpBox {
  display: flex;
  flex-grow: 1;
  background-color: whitesmoke;
  border: lightgray;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 18px;
  box-sizing: border-box;
}

.btn {
  display: flex;
  padding: 10px 15px;
  background-color: #a3a3a7;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
}

.btn:focus,
.btn:hover {
  background-color: #707070;
}

.inpBox:focus,
.inpBox:active {
  background-color: white;
  border: none;
  outline: 2px solid #fd4e6b;
}

.dispMsg {
  margin-top: 20px;
  font-size: 18px;
  color: whitesmoke;
}

.allProdDisp th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #d30202;
  color: white;
}

.allProdDisp tr:hover {background-color: rgb(238, 179, 16) !important; color: black; cursor: pointer;}

.allProdDisp tr:nth-child(even){background-color: #f2f2f2;}

.allProdDisp tr:nth-child(odd){background-color: lightcyan;}

.allProdDisp td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}



/* .banner-img {
  background-image: url("https://direct.delhivery.com/assets/images/direct-banner.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
} */
